.Weather {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  color: white;
}
body {
  background: var(--image);
  transition: background 0.3s ease-in-out;
}

body.light {
  --image: url("../images/bluredsky.jpg");
  --border-color: 1px solid #b9aebe;
  --btn-color: #7a6794;
  --btn-background: #b9aebe;
}

body.dark {
  --image: url("../images/NightSkyblur.jpg");
  --border-color: 1px solid #0c1512;
  --btn-border-color: #c6dfed;
  --btn-background: #0d405b;
}
.Weather .container {
  border: var(--border-color);
  border-radius: 5px;
  padding: 16px;
  background-size: cover;
  background-image: var(--image);
  transition: background-image 0.7s ease-in-out;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather .btn {
  background-color: var(--btn-background);
  border-color: var(--btn-border-color);
}

.Weather h1 {
  font-size: 54px;
  font-weight: 100;
  margin: 0;
}

.Weather .temp {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  margin-left: 100px;
  margin-bottom: 0;
}
.Weather .unit {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  position: relative;
  line-height: 1;
  top: -50px;
}
.Weather a {
  text-decoration: none;
}
.Weather .min-max {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin-top: 0;
  margin-left: 110px;
  position: relative;
  line-height: 1;
  top: -20px;
}

.Weather img {
  width: 94px;
}

@media (max-width: 480px) {
  .Weather h1 {
    font-size: 34px;
  }
  .Weather h3 {
    font-size: 24px;
  }
  .Weather h5 {
    font-size: 18px;
  }
  .Weather .temp {
    font-size: 60px;
    margin-left: 50px;
  }
  .Weather .unit {
    font-size: 14px;
    top: -30px;
  }
  .Weather .min-max {
    font-size: 24px;
    margin-left: 50px;
    top: -10px;
  }
  .Weather img {
    width: 54px;
  }
  .Weather .container {
    background-size: auto;
    background-repeat: no-repeat;
    margin: 5px auto;
  }
}
